.masonryGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-left: 1rem;
  display: flex;
  width: auto;
}

.masonryGridColumn {
  background-clip: padding-box;
}

.masonryGridColumn > div {
  background: grey;
}

